<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
  
 <!-- MyBatis配置属性 ，注意元素配置顺序-->
 <configuration>
 	<!-- 为POJO定义别名 -->
 	<typeAliases>
 		<package name="com.skylaker.yunzhi.pojo"/>
 	</typeAliases>
 </configuration> 
