<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
        http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.0.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.0.xsd">
	
	<!-- 配置SpringMVC自动扫描包 -->
	<context:component-scan base-package="com.skylaker.yunzhi.controller"></context:component-scan>

    <!--设置配置方案 (注册RequestMappingHandlerMapping与RequestMappingHandlerAdapter两个Bean)-->
	<mvc:annotation-driven/>

    <!--使用默认的Servlet来响应静态文件-->
    <mvc:default-servlet-handler/>
	
	<!-- 定义视图解释器，即控制器返回视图的路径及格式 -->
	<bean class="org.springframework.web.servlet.view.InternalResourceViewResolver"> 
		<!-- 定义视图路径 -->
		<property name="prefix" value="/WEB-INF/jsp/"></property>
		<!-- 定义视图文件后缀 -->
		<property name="suffix" value=".jsp"></property>
	</bean>
</beans>
