<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:context="http://www.springframework.org/schema/context"
	   xmlns:tx="http://www.springframework.org/schema/tx"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:cache="http://www.springframework.org/schema/cache"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
	http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.0.xsd
	  http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.0.xsd http://www.springframework.org/schema/cache http://www.springframework.org/schema/cache/spring-cache.xsd">

	<!-- 配置数据源连接配置文件 -->
	<context:property-placeholder	location="classpath:database.properties" ignore-unresolvable="true"/>
	<!--引入redis配置文件-->
	<context:property-placeholder location="classpath:redis.properties" ignore-unresolvable="true"/>

	<!--引入redis配置文件-->
	<import resource="springredis.xml"/>

	<!--Spring扫描注册包-->
	<!--配置包-->
	<context:component-scan base-package="com.skylaker.yunzhi.config"/>
	<!--业务处理包-->
	<context:component-scan base-package="com.skylaker.yunzhi.service.impl"/>
	<!--异常处理包-->
	<context:component-scan base-package="com.skylaker.yunzhi.exception"/>
	<!--工具包-->
	<context:component-scan base-package="com.skylaker.yunzhi.utils"/>

	<!--Ehcache配置-->
	<bean id="ehcache" class="org.springframework.cache.ehcache.EhCacheManagerFactoryBean">
		<property name="configLocation" value="classpath:ehcache.xml"/>
		<property name="shared" value="true"/>
	</bean>

	<!--缓存管理器：Ehcache-->
	<bean id="cacheManager" class="org.springframework.cache.ehcache.EhCacheCacheManager">
		<property name="cacheManager" ref="ehcache"/>
	</bean>

	<!--启用ehcache缓存注解-->
	<cache:annotation-driven cache-manager="cacheManager"/>

	<!-- 数据库连接池 -->
	<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close">
		<property name="driverClassName" value="${jdbc.driver}" />
		<property name="url" value="${jdbc.url}" />
		<property name="username" value="${jdbc.username}" />
		<property name="password" value="${jdbc.password}" />
		<property name="maxActive" value="10"/>
		<property name="maxIdle" value="5"/>
	</bean>
	
	<!-- MyBatis数据源连接工厂 -->
	<bean id="sqlSessionFactoryBean" class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="dataSource" ref="dataSource"></property>
		<property name="configLocation" value="classpath:mybatis.xml"></property>
	</bean>
	
	<!-- 注册Mapper -->
	<bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
		<property name="basePackage" value="com.skylaker.yunzhi.mappers"></property>
	</bean>
	
	
	<!-- 注解事务 -->
	<bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="dataSource"></property>
	</bean>
	
	<!-- 开启注解 -->
	<tx:annotation-driven transaction-manager="transactionManager"/>
</beans>