<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xmlns:context="http://www.springframework.org/schema/context"
	   xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:aop="http://www.springframework.org/schema/aop"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
        http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.0.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.0.xsd http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd">
	
	<!-- 配置SpringMVC自动扫描包 -->
	<context:component-scan base-package="com.skylaker.yunzhi.controller"></context:component-scan>

    <!--设置配置方案 (注册RequestMappingHandlerMapping与RequestMappingHandlerAdapter两个Bean)-->
	<mvc:annotation-driven/>

	<!--开启AOP，日志操作配置在controller层-->
	<aop:aspectj-autoproxy proxy-target-class="true"/>

    <!--使用默认的Servlet来响应静态文件-->
    <mvc:default-servlet-handler/>
	
	<!-- 定义视图解释器，即控制器返回视图的路径及格式 -->
	<bean class="org.springframework.web.servlet.view.InternalResourceViewResolver"> 
		<!-- 定义视图路径 -->
		<property name="prefix" value="/WEB-INF/jsp/"></property>
		<!-- 定义视图文件后缀 -->
		<property name="suffix" value=".jsp"></property>
	</bean>

	<!--定义文件上传解析器-->
	<bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
		<!--文件大小限制为10M-->
		<property name="maxUploadSize" value="10240000"/>
		<!--文件编码-->
		<property name="defaultEncoding" value="UTF-8"/>
	</bean>

</beans>
