<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 需要定义命名空间，值为对应的Mapper接口完全限定名 -->
<mapper namespace="com.skylaker.yunzhi.mappers.AnswerMapper">
    <!--查询回答详情-->
    <select id="getAnswer" parameterType="java.lang.Integer" resultType="answer">
        SELECT
            R.*,
            U.USERNAME, U.SIGNATURE
        FROM
            ANSWER  R
        JOIN
            USER    U
        ON
            R.USERID = U.ID
        WHERE
          R.AID = #{aid}
    </select>

    <!--分页查询问题的回答信息-->
    <select id="getQuestionAllAnswers" parameterType="pageinfo" resultType="answer">
        SELECT
            R.*,
            U.USERNAME, U.SIGNATURE
        FROM
            ANSWER  R
        JOIN
            USER    U
        ON
            R.USERID = U.ID
        WHERE
            R.QID = #{pageInfo.id}
        ORDER BY
            STAR DESC, CREATETIME DESC
        LIMIT
            #{pageInfo.start}, #{pageInfo.pageSize}
    </select>

    <!--增加问题的点赞数-->
    <update id="increaseStarsNum" parameterType="java.lang.Integer">
        UPDATE ANSWER SET STAR = STAR + 1 WHERE AID = #{aid}
    </update>

    <!--减少问题的点赞数-->
    <update id="decreaseStarsNum" parameterType="java.lang.Integer">
        UPDATE ANSWER SET STAR = STAR - 1 WHERE AID = #{aid}
    </update>

</mapper>