<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 需要定义命名空间，值为对应的Mapper接口完全限定名 -->
<mapper namespace="com.skylaker.yunzhi.mappers.QuestionMapper">

    <!--查询指定问题列表详细信息-->
    <select id="getQuestionDetailList" parameterType="java.lang.String" resultType="questionDetail">
        SELECT
            Q.*,
            U.USERNAME,
            U.SIGNATURE
        FROM
            QUESTION  Q
        JOIN
            USER      U
        ON
            Q.USERID = U.ID
        WHERE
            Q.QID IN ( ${qids} )
        ORDER BY
            Q.QID DESC
    </select>

</mapper>