<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<!-- 需要定义命名空间，值为对应的Mapper接口完全限定名 -->  
<mapper namespace="com.skylaker.yunzhi.mappers.UserMapper">
	<!-- 根据用户ID获取用户信息 -->
	<select id="getUserById" parameterType="int" resultType="user">
		select * from user where id = #{id}
	</select>
	
	<!-- 添加用户 -->
	<insert id="addUser" parameterType="user">
		insert into 
			user(id, name, address, age, birth) 
		values
			(#{id}, #{name}, #{address}, #{age}, #{birth})
	</insert>
	
	<!-- 获取所有用户 -->
	<select id="getAllUsers" resultType="user">
		select * from user
	</select>
</mapper>