<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 需要定义命名空间，值为对应的Mapper接口完全限定名 -->
<mapper namespace="com.skylaker.yunzhi.mappers.UserMapper">
	<!-- 根据用户ID获取用户信息 -->
	<select id="getUserById" parameterType="int" resultType="user">
		select * from user where id = #{id}
	</select>

	<!--根据手机号查询用户信息-->
	<select id="getUserByPhone" parameterType="java.lang.String" resultType="user">
		select * from user  where phone = #{phone}
	</select>
	
	<!-- 添加用户 -->
	<insert id="addUser" parameterType="user">
		insert into 
			user(username, password, phone, createtime, updatetime, locked, salt)
		values
			(#{username}, #{password}, #{phone}, #{createtime}, #{updatetime}, #{locked}, #{salt})
	</insert>
	
	<!-- 获取所有用户 -->
	<select id="getAllUsers" resultType="user">
		select * from user
	</select>

	<!--获取用户头像信息-->
	<select id="getUserHeadImg" parameterType="java.lang.Integer" resultType="fileupload">
		SELECT
			*
		FROM
			FILEUPLOAD
		WHERE
			FID =
			(
				SELECT
					MAX(FID) AS FID
				FROM
					FILEUPLOAD
			  	WHERE
			  		FCODE = CONCAT('USERHEADIMG_', #{userId})
			)
	</select>
</mapper>