

#register{
    margin-top: 100px;
    text-align: center;
}

.container_location{
    margin-top: 20px;
}

/*行距*/
.row_margin{
    margin-top: 30px;
}

.row_margin2{
    margin-top: 15px;
}

.row_margin3{
    margin-top: 40px;
}

/*标语*/
#solgan{
    font-family:'jdzhonyuanjian1213553c171ce6f';
    font-size:35px;
    color:#1E9FFF;
    text-align: center;
}

/*提问问题标题*/
#quetitle{
    font-family:'jdzhonyuanjian1213553c171ce6f';
    font-size:25px;
    text-align: center;
}

.questitle{
    font-family:'jdzhonyuanjian1213553c171ce6f';
    font-size:25px;
}

#recont{
    margin-top: 40px;
}

/*注册登录等提示语*/
.label{
    font-family: Tahoma,Helvetica,"Microsoft Yahei","微软雅黑",Arial,STHeiti;
    font-size: 25px;
    color: #666;
}

.label2{
   font: 15px Helvetica Neue,Helvetica,PingFang SC,微软雅黑,Tahoma,Arial,sans-serif;
}

/*登录失败提醒样式*/
.error{
    color: red;
}

/*问题标题*/
.question_title{
    height: 100px;
}
