/**
* 首页样式
 */

body{
    background-color: #F0F0F0;
}

#header{
    background-color: white;
}

#center{
    margin-top: 5px;
}

#main{
    margin-top: 20px;
}

.td_text{
    text-align: center;
}

iframe{
    padding: 0;
    margin: 0;
    width: 100%;
    height: 80%;
    border: none;
}

.user-iframe{
    padding: 0;
    margin: 0;
    width: 100%;
    height: 65%;
    border: none;
}